:root{
    --principal: #1D2429;
    --sombra-ppal-1: #0B171F;
    --sombra-ppal-2: #08141C;
    --luz-ppal-1: #3A444B;
    --luz-ppal-2: #54616B;
    --secundario: #0005FD;
    --sombra-sec-1: #0005BE;
    --sombra-sec-2: #010594;
    --luz-sec-1: #1E34FF;
    --luz-sec-2: #B5D4EC;
    --estado1: #3BC82F;
    --estado2: #D71212;
    --estado3: #EEE73C;
    --acento: #D4AF37;
    --sombra-acento: #B18E1A;
    --textos-btn: 'Roboto', sans-serif,20px;
    --text-body:'Roboto'
}



body{
background-color: var(--sombra-ppal-1);
}

header{
    background-color:var(--principal);
    height: 70px;
    width: 100%;

}

.navbar{
    background-color:var(--principal);
    width: 219px;
    height: 470px;
    color: var(--luz-sec-2);
    display: none;
    flex-direction: column;
    font:var(--textos-btn);
    text-transform: uppercase;
    text-decoration: solid;
    align-items: center;
    justify-content: center;
}

.logoheader{
    width: 95px;
    height: 75px;
}
.btnmenu{
    width: 65px;
    height: 75px;
    
}
.menu{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
padding: 0px;
}
.btn_cat{
    display: inline-flex;
    padding: 18px 50px 18px 50px;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    background: var(--sombra-ppal-1);
    margin: 10px;
}

.perfil-avatar{
border-radius: 50px;
width: 65px; 
margin-left: 80%;
}


.navbar.show{
    display: flex;
   
}
/*Estilos generales para el footer */
footer {
    display: flex;
    flex-direction: row;
    height: 300px;
    background-color: var(--principal);
    color: var(--luz-sec-2);
    background-image: url(images/logo.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 250px;
}
.section1, .section2{
    display:flex;
    flex-direction: row;
    margin: 10px;
}
.acerca-de{
display: flex;
flex-direction: column;
margin-top: 20px;
margin-left: 100px;
align-items: center;
width: 500px;

} 
.text-footer, .acerca-de, .fat-footer{
font-family: 'Roboto';
} 
.fat-footer {
    margin-left: 250px;
    display: flex;
    flex-direction: column;
}

/* Estilos para cada sección del fat footer */
.footer-section{
    /* flex-direction: column; */
    padding: 0 20px;
    text-align: left;
}

.footer-section h2 {
    font-size: 18px;
    margin-bottom: 10px;
}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 5px;
}

.footer-section a {
    color: var(--luz-ppal-1);
    text-decoration: none;
}

/* Estilos para los enlaces en el fat footer */
.footer-section a:hover {
    text-decoration: underline;
} 

/* Estilos para el contenido de contacto */
.footer-section p {
    font-size: 14px;
    margin: 0;
}