:root{
    --principal: #1D2429;
    --sombra-ppal-1: #0B171F;
    --sombra-ppal-2: #08141C;
    --luz-ppal-1: #3A444B;
    --luz-ppal-2: #54616B;
    --secundario: #0005FD;
    --sombra-sec-1: #0005BE;
    --sombra-sec-2: #010594;
    --luz-sec-1: #1E34FF;
    --luz-sec-2: #B5D4EC;
    --estado1: #3BC82F;
    --estado2: #D71212;
    --estado3: #EEE73C;
    --acento: #D4AF37;
    --sombra-acento: #B18E1A;
    --text-body:'Roboto';
}
    .baseCucarda{
    display: none;
    }
    body, header, footer,span{
    font-family: var(--text-body);
    }
    body{
    background-color: var(--sombra-ppal-1);
    }

    header{
        background-color:var(--principal);
        height: 70px;
        width: 100%;
        margin-top: 0px;

    }
    .buscador{
    display: none;
    }

    .navbar{
        background-color:var(--principal);
        width: 219px;
        height: 470px;
        color: var(--luz-sec-2);
        display: none;
        flex-direction: column;
        font:var(--textos-btn);
        text-transform: uppercase;
        text-decoration: solid;
        align-items: center;
        justify-content: center;
    }
   
    .logoheader{
        width: 95px;
        height: 75px;
    }
    .btnmenu{
        width: 50px;
        height: 50px;
        margin: 10px;
        
    }
    .menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px;
    border-color: var(--luz-sec-2);
    }
    .header-izq{
        flex-direction: row;
        margin: 0;
    
    }
    /*animaciones navbar*/
    .btn_cat{
        display: inline-block;
        padding: 18px 50px 18px 50px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: var(--sombra-ppal-1);
        margin: 10px;
        width: 70px;
        z-index: 1;
        overflow: hidden;
    }

    .perfil-avatar{
    border-radius: 50px;
    width: 50px; 
    height: 50px;
    margin: 10px;
    }
    .flechaPerfil{
    width: 20px;
    margin-left:45px;
    z-index: 1;
    margin-top: -37px;

    }

    .nav-perfil{
        background-color:var(--principal);
        width: 130px;
        height: 200px;
        color: var(--luz-sec-2);
        display: none;
        flex-direction: column;
        font:var(--textos-btn);
        text-transform: uppercase;
        text-decoration: solid;
        align-items: center;
        justify-content: center;
        border: 1px solid var(--luz-sec-2);
        border-color: var(--luz-sec-2);
    }
    .nav-perfil.show{
        display: flex;
        position: absolute;
        top: 85px;
        right: 0;
        z-index: 3;
        border-color: var(--luz-sec-2);

    }

    .menu-perfil{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0px;
        border-color: var(--luz-sec-2);
    }

    .btn-perfil{
        display: inline-flex;
        padding: 10px 20px 10px 20px;
        justify-content: center;
        align-items: center;
        border-radius: 10px;
        background: var(--sombra-ppal-1);
        margin: 5px;
        color: var(--luz-sec-2);
        margin: 5px;
    }

    .carrito-nav{
        width: 40px; 
        height: 40px;
        margin: 10px;
    }
    .header-izq{
        flex-direction: row;
        margin: 0;
    }

    .desp-carrito{
        background-color: var(--acento);
        width: 140px;
        height: 200px;
        flex-direction: column;
        display: none;
        align-items: start;
    }
    .desp-carrito h3{
        margin: auto;
        margin-left:10px
    }
    .desp-carrito.show{
        display: flex;
        position: absolute;
        top: 80px;
        right: 0;
        z-index: 3;
    }

    .desp-carrito p{
        font-family: var(--text-body);
        font-size: 17px;
        margin: 0px;
        margin-left: 10px;
    }
  /*no anda :( */
    .continuar-compra{
        display: flex;
        height: 58.929px;
        width: 100px;
        height: 50px;
        justify-content: center;
        align-items: center;
        border-radius: 50px;
        border: 1px solid var(--sombra-acento);
        background: var(--principal);
        color: var(--acento);
        margin: auto;


    }

    .navbar.show{
        display: flex;
        position: absolute;
        top: 80px;
        left: 0;
        z-index: 3;
    
    }

    .img-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
    /*Estilos generales para el footer */
    footer {
        margin-top: 100px;
        display: flex;
        flex-direction: column;
        background-color: var(--principal);
        color: var(--luz-sec-2);
        background-image: url(images/logo.png) op;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 250px;
        width:100%;
        
    }
    .section1, .section2, .section3{
        display:flex;
        flex-direction: row;
        margin: 10px;
        justify-content: center;
    }
    .acerca-de{
    align-content: center;
    margin: 20px;
    align-items: center;
    width: 90%;
    text-align: justify;

    } 
    .titulo-footer{
        text-align: center;
    }

    .text-footer, .acerca-de, .fat-footer{
    font-family: var(--text-body);
    } 


    /* Estilos para cada sección del fat footer */
    .footer-section{
        padding: 0 20px;
        text-align: left;
    }

    .footer-section h2 {
        font-size: 18px;
        margin-bottom: 10px;
    }


    .footer-section ul li {
        margin-bottom: 5px;
        list-style-type:none;
    }

    .footer-section a {
        color: var(--luz-ppal-1);
        text-decoration: none;
    }

    /* Estilos para los enlaces en el fat footer */
    .footer-section a:hover {
        text-decoration: underline;
    } 

    /* Estilos para el contenido de contacto */
    .footer-section p {
        font-size: 14px;
        margin: 0;
    }

    /* Estilo para las cards*/
    .carruselCompleto{
        display: flex;
        flex-direction: column;
    }
     .cat-juego{
        margin-left: 17px;
        margin-bottom: 0px;
    }
    .carousel{
      display: -webkit-inline-box;
      background-color: var(--sombra-ppal-1) ;
    }
    .wrapper, .wrapper1{
        display: flex;
        max-width: 1200px;
        position: relative;
      }

      .wrapper i,.wrapper1 i{
        top: 50%;
        height: 44px;
        width: 44px;
        color:var(--luz-sec-2);
        cursor: pointer;
        font-size: 1.15rem;
        position: absolute;
        text-align: center;
        line-height: 44px;
        background:var(--secundario);
        border-radius: 50%;
        transform: translateY(-50%);
        transition: transform 0.1s linear;
        z-index: 2;
      }
      .wrapper i:active, .wrapper1 i:active{
        transform: translateY(-50%) scale(0.9);
      }
      .wrapper i:hover, .wrapper1 i:hover{
        background: var(--luz-sec-1)
      }
      .wrapper i:first-child, .wrapper1 i:first-child{
        left: 1px;
        display: none;
      }
      .wrapper i:last-child, .wrapper1 i:last-child{
        right: 1px;
      }
      .wrapper , .wrapper1, .carousel{
        font-size: 0px;
        cursor: pointer;
        overflow: hidden;
        white-space: nowrap;
        scroll-behavior: smooth;
        z-index: 1;
      }
      .carousel.dragging{
        cursor: grab;
        scroll-behavior: auto;
      }
    .contenedor-card-principal .infoCardPaga{
        z-index: 2;
        
    }
    .contenedor-card, .contenedor-card-principal{
        background-color: var(--principal);

        position: relative;
        border: 20px;
        margin: 10px;
    }
    .contenedor-card-principal .imagen-card{
    width: 140px;
    height: 90px;
    margin-left: 10px;
    
    }
    .contenido-card-principal{
    display: flex;
    flex-direction: column;
    }

    .contenedor-card-principal{
    width:160px;
    height: 150px;
    display: -webkit-inline-box;
    flex-direction: column;  
    }
    .contenedor-card{
    display:flex;
    flex-direction:column;
     width: 115px;
     height: 120px;
     border: 20px;
     margin: 10px;
    }
    .infoCardPaga{
        height: 40px;
        margin: 0%;
        display:flex;
        flex-direction:column;  
        margin-top:2px;
    
    }
    .imagen-card{
        width: 100px;
        height: 70px;
        margin-top:7px;
        margin-left:7px;
        margin-right: 7px;
        border-radius: 5px;
        align-items: center;
        z-index: 1;
    }

    .infoCardGratis{
     height: 40px;
     margin: 0%;
     display:flex;
     flex-direction:row;
     align-items: center;
     margin-top: 3px;
    }


    .carrito{
        height: 20px;
        width: 20px;
        padding-right: 7px;
        
    }

    .play{
        height: 20px;
        width: 20px;
        justify-content: center;
        margin-left: 5px;

    }
    .infoCardGratis .titulo{
        justify-content: left;
        margin-left: 5px;
 }

    .contenido-card-principal .carrito{
    height: 20px;
    width: 25px;
    margin-right: 0px;
    }
    .contenido-card-principal .play{
        height: 20px;
        width: 20px;
        margin-right: 10px;
    
    }
    .infoCardGratis .titulo, .infoCardPaga .titulo{
        width: 80px; /* Ancho máximo del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        overflow: hidden; /* Oculta el texto que desborda */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    }
    .infoCardPaga .titulo{
        margin: auto;
        justify-content: center;

    }
    .contenido-card-principal .infoCardGratis{
        margin:auto;
        margin-left: 10px;

    }
    .contenido-card-principal .precio, .contenido-card-principal .precio-tachado{
        font-size: 16px;
    
    }
    .contenido-card-principal .titulo{
        font-size: 17px;
        margin:auto;
         /* margin-left: 10px;
        */width: 110px; /* Ancho máximo del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        overflow: hidden; /* Oculta el texto que desborda */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    
    }
    .titulo{
        font-family: var(--text-body);
        font-size: 14px;
        color: var(--luz-sec-2);
        margin: 0px;
        display: flex;
        justify-content: center;

    }

    .precio{
        font-family: var(--text-body);
        font-size: 13px;
        color: var(--luz-sec-2);
        margin: 0px;
        margin-left:7px;
    }
    .precio, .precio-tachado{
        color: var(--acento);
    }

    .precio-tachado{
        color: var(--estado2);
        font-size: 9px;
        text-decoration: line-through;
    }

    .precio-carrito{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin: 0%;
        justify-content: space-between;
    }
    
    .etiqueta-card-gratis, .etiqueta-card-dto{
        height: 20px;
        width: 45px;
        font-family: var(--text-body);
        font-size: 15px;
        position: absolute; 
        top: 0; 
        right: 0;
        z-index: 2;
        display: flex;
        justify-content: center;
        font-weight: 100;
        
    }
    .etiqueta-card-gratis{
        background-color:var(--secundario);
        color:var(--luz-sec-2) ;
    }
    .etiqueta-card-dto{
        background-color:var(--acento);
        color:var(--principal) ;

    }

    .btn-derecha{
        right: 10px;
    }

    .btn-izquierda{
     left: 10px;
    }

    .cat-juego{
        font-family: var(--text-body);
        font-size: 25px;
        color: var(--luz-sec-2);
    }

    .carrusel-btns{
        display: flex;
        flex-direction: row;
        margin-left: 15px;
        margin-top: 10px;
    }

    .btn-carrusel-categorias{
        display: inline-flex;
        width: 142px;
        height: 33px;
        color: var(--luz-sec-2);
        font-size: 15px;
        justify-content: center;
        align-items: center;
        background-color: var(--secundario);
        border-radius: 50px;
        font: var(--btn-sec);
        letter-spacing: 2px;
        margin-right: 47px;
        font-family: var(--text-body);
        text-transform:uppercase;
        transition: .3s;
    }

    .btn-carrusel-categorias .span-btn{
        width: 100%;
        height:33px ;
        border-radius: 50%;
        background-color: var(--luz-sec-1);
        position: absolute;
        top: -50%;
        left: -100%;
        transition: .3s;
    }

    .btn-carrusel-categorias:hover span.btn{
        left: -10%;
    }

    .btn-carrusel-categorias:hover{
        color: aliceblue;
        box-shadow: 0 5px 5px;
    }





    @media screen and (min-width: 1024px){ 
        /*estilos para botones animados */ 
            .btn-perfil{
                padding: 0px;
        }
        /*** ESTILOS BOTÓN GROW SPIN ***/
        .ov-btn-grow-spin {
            background: #fff; /* color de fondo */
            color: #4741d7; /* color de fuente */
            border: 2px solid #4741d7; /* tamaño y color de borde */
            padding: 16px 20px;
            border-radius: 3px; /* redondear bordes */
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: inline-block;
        }
        .ov-btn-grow-spin:hover {
            color: #fff;/* color de fuente hover */
        }
        .ov-btn-grow-spin::after {
            content: "";
            background: #4741d7; /* color de fondo hover */
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            transform: scale(0, 0) rotate(-180deg);
            transition: all 0.3s ease;
        }
        .ov-btn-grow-spin:hover::after {
            transition: all 0.3s ease-out;
            transform: scale(1, 1) rotate(0deg);
        }
        /*** ESTILOS BOTÓN SLIDE LEFT ***/
        .ov-btn-slide-left {
            color: var(--secundario); /* color de fuente */
            border: 2px solid var(--secundario); /* tamaño y color de borde */
            border-radius: 3px; /* redondear bordes */
            position: relative;
            z-index: 1;
            overflow: hidden;
            display: inline-block;
            padding: 10px;
        }
        .ov-btn-slide-left:hover {
            color: #fff; /* color de fuente hover */
        }
        .ov-btn-slide-left::after {
            content: "";
            background: var(--secundario); /* color de fondo hover */
            position: absolute;
            z-index: -1;
            padding: 16px 20px;
            display: block;
            top: 0;
            bottom: 0;
            left: -100%;
            right: 100%;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }
        .ov-btn-slide-left:hover::after {
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            -webkit-transition: all 0.35s;
            transition: all 0.35s;
        }

        main{
            margin-left: 175px;
            margin-right: 175px;
        }

        .text-footer{
        width: 300px;
        }
        footer {
            display: flex;
            flex-direction: row;
            height: 300px;
            background-color: var(--principal);
            color: var(--luz-sec-2);
            background-image: url(images/logo.png);
            background-repeat: no-repeat;
            background-position: center;
            background-size: 250px;
        }

        .footer-section ul {
            padding: 0px;
        }

        .section1, .section2, .section3{
            display:flex;
            flex-direction: column;
            margin: 10px;
            justify-content: center;
        }
        .acerca-de{
            display: flex;
            flex-direction: column;
            margin-top: 20px;
            margin-left: 100px;
            align-items: center;
            width: 400px;
            text-align: justify;
        
        }

        .fat-footer {
            margin-left: 280px;
            display: flex;
            flex-direction: row;
        
        }

       .buscador{
        display: block;
        border-radius: 30px;
        height: 40px;
        width: 370px;
        margin: 15px;
        
        background-color:var(--luz-sec-2);
       }

       .flechaPerfil{
        width: 40px;
        margin-top:-35px
    }
        .nav-perfil.show{
        top:103px
        }
        .btn-perfil:hover{
            color:var(--secundario);
            text-decoration: solid;
        }

        







    /* Estilo para form resgistro*/
    .registro .formRegister{
        height: 510px;
    }
    .formRegister{
        width: 623px;
        height: 480px;
        background-color: var(--luz-sec-2);
        margin: 0px;
        margin: auto;
    }
    .registro .Registrar{
        display:flex;
        justify-content:center;
        margin-top: 10px;
    }

    .registro .captcha{
        margin-left: 25px;
        margin-top:10px;
    }
    .registro .registrarse{
        width: 125px;
    }
    .registro .tituloRegistro{
        margin:5px;
    }
    .registro .gmail{
        margin-top:50px
    }
        .registro .tengoCuenta{
        margin: 0px;
        }
        .registro .registrarteCon{
        margin-top: 100px;
        align-items: start;
        margin-right: 30px;
        }
        .registro .btn-ingresar{
        margin: auto;
        }
        .headRegistro p{
            margin-right: 10px;
        }
        .headRegistro{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin: 0px;
        }
    
        .tengoCuenta{
        display: flex;
        flex-direction: row;
        }
        .formularioRegistro{
        align-content: center;
        margin-left: 29px;
        height: 100px;
        width: 200px;
        }
        label{
        color: var(--sombra-ppal-1);
        }
        input{
        background-color: var(--luz-ppal-1);
        border-radius: 7px;
        }
        .captcha{
        width: 150px;
        height: 38px;
        }
        .registrarse{
            display: inline-flex;
            padding: 8px 19px 7px 20px;
            height: 33px;
            color: var(--luz-sec-2);
            justify-content: center;
            align-items: center;
            background-color: var(--secundario);
            border-radius: 50px;
            font: var(--btn-sec);
            letter-spacing: 3px;
        }
        .tituloRegistro{
            margin: 20px;
    
        }
        .btn-ingresar{
            font-family: var(--btn-sec);
            display: flex;
            align-items: center;
            justify-content: center;
            border-radius: 50px;
            width: 80px;
            margin-left: 7px;
            margin-top: 16px;
            height: 20px;
            align-items: center;
            background-color: var(--principal);
            color: var(--luz-sec-2);
        }
        .registrate{
        margin-left: 28px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        color: var(--luz-sec-2);
        
        }
        .registrarteCon{
        display: flex;
        flex-direction: column;
        margin-right: 26px;
        margin-top: 45px;
        }
        .facebook{   
            background-color: #3b5998;
            border-color: #3b5998;
        }
        .facebook, .gmail{
            margin-top: 49px;
            width: 271px;
            height: 34px;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            border-width: 2px;
            border-style: solid;
            display: flex;
        
        }
        .gmail{
            background-color: #00A1F1;
            border-color: #00A1F1;
        
        }
        .logoMail{
            width: 51px;
            height: 34px;
            border-color: #00A1F1;
        }
        .logoFb{
            border-color: #3b5998;

        }
        .logoFb, .logoMail{
            margin-left: 0px;
            border-width: 2px;
            border-style: solid;
        }
        .continuarCon{
            margin-left: 28px;
        
        }

        .registros{
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            
        }
        /* eEstilo para las cards */ 
     
    
    .carousel{
        display: -webkit-inline-box;

    }
    .contenedor-card{
        width: 175px;
        height: 181px;
        border-radius: 20px;
    }

    .imagen-card{
        width: 167px;
        height: 120px;
    }
    .titulo{
        font-family: Roboto;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
    }
    .play, .carrito{
        width: 22px;
        height: 25px;
    }
    .precio, .precio-tachado{
        font-size: 18px;

    }
    .contenido-card-principal{
        display: block;
 }

    .contenido-card-principal .infoCardGratis{
        margin: auto;
        margin-left: 10px;
        margin-top: 15px;
    }
    .contenido-card-principal .infoCardGratis .play, .contenido-card-principal .infoCardPaga .carrito{
        width: 38px;
        height: 33px;
    }
    .contenido-card-principal .infoCardPaga{
    margin-top: 1px;

    }

    .infoCardGratis{
        margin-top: 14.5px;
    }
    .play{
        display: flex;
        margin-right: 16,49px;
    }
    .infoCardGratis .titulo{
        justify-content: left;
        margin-left: 5px;
        overflow: hidden; /* Oculta el texto que desborda */
   
        
    }
   
    .infoCardGratis .titulo, .infoCardPaga .titulo{
        width: 130px; /* Ancho máximo del contenedor */
        white-space: nowrap; /* Evita que el texto se divida en líneas */
        text-overflow: ellipsis; /* Muestra puntos suspensivos (...) cuando el texto se recorta */
    }
    .infoCardPaga .titulo{
        margin: auto;
        justify-content: center;
        overflow: hidden;
    }
    .infoCardGratis{
        margin-left: 5px;
        margin-top: 10px;
    }
    .etiqueta-card-gratis, .etiqueta-card-dto{
        width: 80px;
        height: 26px;
        text-align: center;
        margin-right: -18px;
        font-size: 20px;
    }
    span.etiqueta-card-dto, span.etiqueta-card-gratis{
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 1); /* Propiedad box-shadow */   
     }
     .cucarda{
        margin-right: 0px;
        display: flex;
        flex-direction: row-reverse;
    }
     .baseCucarda{
        display: block;
        width: 50px;
        height: 41px;
        margin-top: 21px;
        margin-right: -32px;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 2;
    }
    .infoCardPaga{
    margin-top: 2.5px;
    }

    .contenedor-card-principal{
        width: 305px;
        height: 250px;
        border-radius: 20px;
    }

    .contenedor-card-principal .imagen-card{
        width: 290px;
        height: 175px;
        margin-left: 7px;
        border-radius: 10px;
    }
    .contenedor-card-principal .titulo{
        font-size: 25px;
        overflow: visible;
    }

    .contenedor-card-principal .precio, .contenedor-card-principal .precio-tachado{
        font-size: 25px;
    }
    /* Estilos para menu ejecucion */
    .img-4enlinea{
        width: 650px;
        height: 650px;
        margin-left: 120px;

    }
   main .contenedor-juego{
        background-color: var(--principal);
        margin-left: 0px;
        margin-right: 0px;
    }


    .instrucciones{
        color: var(--luz-sec-2);
    }

    main .contenedor-juego{
        margin: 0px;
    }

    .encabezado-juego h1{
        color: var(--luz-sec-2);
    }

    .instruccion{
       height: 120px;
       width: 120px; 
        margin: 30px;
    }
    .instrucciones {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    
    .deQueTrata,.controles {
        width: 45%;
        margin-bottom: 20px;
    }
    .controles, .img-comojugar{
        margin-left: 40px;
    }
    .comoJugar ,.img-comojugar{
        width: 45%;
    }

    .input-nuevo-comentario{
        display: flex;
        justify-content: space-between;
        background-color: var(--luz-sec-2);
        width: 670px;
        height: 30px;
    }

    .comentarios h2{
        font-family: var(--text-body);
        color: var(--luz-sec-2);
        
    }

    .nuevo-comentario{
        display: flex;
        flex-direction: row;
    }

    .btn-agregar{
        height: 35px;
        background-color: var(--luz-sec-2);
        border-radius: 7px;
    }

    .comentario{
        background-color: var(--luz-sec-2);
        color: var(--sombra-ppal-1);
        margin: 5px;
        
    }

    /*Estilos para login */
    .login .formRegister{
        width: 340px;
        height: 450px;
    }
    .login .login{
        margin: 0px;
        display: block;
    }
    .login .titulo, p, .registrarteCon{
        margin: 0px;
    }
    .login{
        justify-content: center;
    }
    .facebook{
        margin-top: 0px;
 
    } 
    .facebook, .gmail{
        margin-left: 47px;
        width: 245px;
        height: 34px;

    }
    .registrate{
        margin: 0px;
        padding-left: 15px;
    }
    .gmail{
        margin-top: 12px;
    }
    .login .tituloRegistro{
        display: flex;
        justify-content: center;
    
    }
    .separadorReg{
        display: flex;
        align-items: center;
        margin-top: 4px;
    }
    .separadorReg .lineaSeparador{
        flex-grow: 1;
        height: 1px;
        background-color: var(--luz-ppal-2); /* Color de la línea */
        margin: 0 10px; /* Espacio alrededor de la línea */
    }
    .formLogin{
        display: flex;
        flex-direction: column;
        margin:auto;
    }
    .formLogin label{
        font-size: 15px;
    }
    .formLogin input{
        height: 20px;
        width: 280px;
    }
    .inputEmail{
    display: flex;
    flex-direction: column;
    margin: 7px;
    }
    .login .captcha{
        margin: auto;
        margin-top: 10px;
    }
    .login .registrar{
        display: flex;
        flex-direction: row;
        margin: auto;
        margin-top: 30px;
    }
    .login .btn-ingresar{
        margin: 0px;
        margin-left: 16px;
    }
    .login .registrarse{
        margin: auto;
        margin-top: 20px;
        width: 125px;
    }
    .login a, .registro a, .btn-perfil a {
        color: var(--luz-sec-2);
        text-decoration: none;
    }
    .login a:hover, .registro a:hover{
        text-decoration: underline;
    } 
}

