.header{
    height:100px ;
    width: 100%;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.sticky{
    position: fixed;
    top: 0;
    width: 100%;
}

#logoNav{
    width: 130px;
    height: 68px;
    margin-left: 400px;
    margin-right: 300px;
}
#hamburguesa{
    height: 26px;
    width: 34px;
    margin-left: 100px;
}

#btnComprar{
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    margin-right: 100px;

    /*estilo letra*/
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;

}


.parallax1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.parallax1 img{
    position: absolute;

}

#capa1{
    width: 100%;
}
#capa2{
    left: -50px;
    bottom: 0;
}
#capa3{
    right: 0;
    bottom: 0;
}
#capa4{
    bottom: 0;

}
#capa5{
    left: 180px;
    bottom: 80px;
}
#capa6{
    bottom: -10px;
    left: 600px;
    width: 456px;
    height: 465px;
}

#capa7{
    right: 180px;
    bottom: 170px;
}

#capa8{
    bottom: -195px;
    left: -20px;


}

#capa9{
    right: -170px;
    bottom: 100px;
}