/*@import url(https://fonts.google.com/specimen/Lato?query=Lato);
*/

body {
    margin: 0;
    padding: 0;
    background-color: #000;
    font-family: 'Lato', sans-serif;
}
.rectanguloBlanco1{
    z-index: -200;
    margin-top: -190px;

}

.header {
    height: 100px;
    width: 100%;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.sticky{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;
    z-index: 20;
}


#logoNav{
    width: 130px;
    height: 68px;
    margin-left: 400px;
    margin-right: 300px;
    display: none;

}

.navigation li{
    background-color: #FFE901;
    margin: 15px;
}
.navigation ul {
    list-style-type: none;
}
.navigation ul li {
    opacity: 0;
    transform: translateX(-20px);
    transition: opacity 0.5s, transform 0.5s;
}

.navigation ul li.visible {
    opacity: 1;
    transform: translateX(0);
}


.navigation{
 display: none;
 position: absolute;
 z-index: 2;
 width: 200px;
 height: fit-content;
 color: #02187E;
 font-family: Lato;
 font-size: 20px;
 font-style: normal;
 font-weight: 900;
 line-height: 94.5%; 
 letter-spacing: 2.2px;
 top: 60px;
}


#hamburguesa{
    position: absolute;
    z-index: 3;
    height: 26px;
    width: 34px;
}



.linea {
    width: 38px;
    height: 8px;
    background-color:#FFE901;
    border:solid #2981FF 4px;
    transition: transform 0.3s ease; 
    border-radius: 30%;
    margin: 0px;
}


.ov-btn-slide-left {
    position: relative;
    z-index: 1;
    overflow: hidden;
    display: inline-block;
    padding: 10px;
    text-align: center;
    width: 100px;
}
#btnComprar:hover {
    color: #FFE901; 
    border: 8px solid var(--2982-ff, #FFE901);

}
#btnComprar::after {
    content: "";
    color: #3498db;
    background: #3498db; 
    position: absolute;
    z-index: -1;
    padding: 16px 20px;
    display: block;
    top: 0;
    bottom: 0;
    left: -100%;
    right: 100%;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;
}
#btnComprar:hover::after {
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    -webkit-transition: all 0.35s;
    transition: all 0.35s;

}
#comprarAhora{
    width: 292px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    bottom: 3500px;
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; 
    letter-spacing: 2.2px;
    margin-left: 100px;
    margin-top: 50px;
    -webkit-text-stroke: 2px;
}

#comprarAhora:hover{
    background-color: #3498db;
    color: #FFE901;
    border: 8px solid var(--2982-ff, #FFE901);
    font-weight: 200;
}
.comprar button{
    margin-top: -200px;
}


#btnComprar{
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    margin-right: 100px;

    /*estilo letra*/
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;
    -webkit-text-stroke: 2px;

}


.parallax1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;

}

.parallax1 img{
    position: absolute;

}
/*fondo*/
#capa1{
    width: 100%;
    height: 100%;
    position: absolute;
    top: -15px;
}
/*edificios izquierda*/
#capa2{
    left: -4%;
    bottom: -40px;
}

/*edificios derecha*/
#capa3{
    right: 0%;
    bottom: 0%;
}
/*edificios medio*/
#capa4{
    bottom: 0px;

    left: 350px;

}
/*spider izquierda*/
#capa5{
    left: 100px;
    bottom: 40px;
}

/*spider medio*/
#capa6{
    bottom: -10px;
    left: 400px;
    right: 540px;
    width: 456px;
    height: 465px;
    z-index: 4;
}
/*spider derecha*/
#capa7{
    right: 200px;
    bottom: 130px;
}
/*telarana derecha*/
#capa8{
    bottom: -190px;
    left: -220px;
    z-index: 4;


}
/*telarana izquierda*/
#capa9{
    right: -140px;
    bottom: 80px;
    z-index: 4;
}

.containerTam{
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
}

#logoPag1{
    left: 320px;
    right: 400px;
    margin-top: 180px;
}
#contenedorVioleta{
    position: relative;
}
#violeta{
    width: 100%;
    height: 840px;
    position: relative;
    top: -60px;
    z-index: 2;
}

#contenedorTexto h1{
color: #FFF;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 56.7px;
z-index: 3;
position: absolute;
bottom: 50px;
}

#contenedorTexto p{
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 3;
position: absolute;
margin-top: 200px;
}

#contenedorTexto{
    height: 270px;
    width: 580px;
    top: 100px;
    position: absolute;
    left: 95px;
}

#duende{
    height: 920px;
    width: 550px;
    right: 30px;
    position: absolute;
    z-index: 3;
    margin-top: 60px;
}

#juegoVerde{
    top: 450px;
    position: absolute;
    width: 750px;
    height: 410px;
    left: 100px;
    z-index: 2;
}

.titutloParalax2{
    color: #FFF;

}
.rectanguloBlanco2{
    z-index: -200;
    width: 1280px;
    height: 2000.5px;
    margin-top: 0px;
    flex-shrink: 0;

}
#blanco{
    z-index: 0;
    position: absolute;
    width: 100%;
    height: 1085px;
}
.recctBlanco{
    position: relative;
    margin-top: -840px;
    height: 500px;

}
.infoSpider{
    position: absolute;
    z-index: 10;
    margin-left: 95px;

}
#cuadroSpider{
    width: 332.96px;
    height: 302.69px;
    padding-right: 40px;
    opacity: 0; /* Por defecto, las im치genes est치n completamente transparentes */
    transition: opacity 3s ease-in-out;
}
.textInfoSpider{
    width: 333px;
    height: 189px;
    padding-right: 40px;
}
p.textInfoSpider{
    color: black;
}
.grupoTextInfoSpider{
    display: flex;
    flex-direction: row;

}

#contenedorGhostSpider{
    position: relative;
    height: 600px;

}
.tituloParalax2{
    color: #FFF;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
    width: 667px;
    margin-left: 100px; 
}
.fondoGhostSpider{
    position: absolute;
    z-index: 0;
    width: 100%;
    height: 566px;

}
.tarjetasGhostSpider {
    display: flex;
    flex-direction: column;
    position: absolute;
    z-index: 10;
    height: 700px;
    left: 40px;
    margin-bottom: 10px; 
    margin-top: -150px;
}

.ghostSpider{
    height: 300px;
}

.tarjeta1:hover, .tarjeta2:hover, .tarjeta3:hover {
    transform: perspective(1000px) rotateY(6deg);
}
.tarjeta1{
    margin-bottom:10px ;
    position: relative;
    bottom: 100px;
    width: 546.108px;
    transition: transform 0.3s ease;

}
.tarjeta2{
    margin-top: 15px;
    z-index: 3;
    position: relative;
    bottom: 340px;
    width: 543.218px;
    transition: transform 0.3s ease;

}
.tarjeta3{
    margin-top: 15px;
    position: relative;
    bottom: 600px;
    z-index: 4;
    width: 546.108px;
    transition: transform 0.3s ease;

    
}

#paralax2{
    position: relative;
    height: 600px;
    margin-top: 150px;
}
#fondoP2{
    position: absolute;
    width: 1070px;
    height: 527px;
    margin-left:100px ;

}
#capa2P2{
    position: absolute;

    width: 1070px;
    margin-left:100px ;
}

#capa1P2{
    position: absolute;

    width: 1070px;
    z-index: 2;
    margin-left:100px ;
}

#hulk{
    position: absolute;
    top: 300px;
    left: 780px;
    z-index: 1;
}
#elastica{
    position: absolute;
    top: 108px;
    left: 100px;
    z-index: 1; 

}
#aranaNegro{
    width: 700px;
    height: 800px;
    position: absolute;
    z-index: 1; 
    background-image: url(images/aranaNegro.png);
    background-repeat: no-repeat;
    background-position: center;
    background-position: 50% 50%;
    overflow: visible;
    top: 30px;
    right: 130px;
}


/*seccion 6*/
.masAmigos {
    width: 100%;
    height: 2194.5px;
    position: absolute;
    top: 3832.5px;
}


.container-masAmigos {
    width: 1080px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%);
    height: 100%;
}

.container-masAmigos h1 {
    position: absolute;
    top: 255.5px;
    left: 4px;
    width: 802px;
    height: auto;
    font-size: 60px;
    line-height: 94.5%;
}

.masAmigos-col-img {
    position: absolute;
    width: 556px;
    height: 100%;
    left: 0;
    top: 380.5px;
}

.masAmigos-col-img img {
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

#masAmigos-img {
    width: 552px;
    height: 302.76px;
    margin-left: 4px;
    position: sticky;
    top: 150px;
}

.masAmigos-col-txt {
    position: absolute;
    width: 467px;
    height: 100%;
    right: 0;
    top: 380.5px;
    display: flex;
    flex-direction: column;
    gap: 150px;
}

.masAmigos-col-txt div {
    display: flex;
    flex-direction: column;
    gap: 25px;
    opacity: 0;
    transition: all .5s ease-in-out;
}

.masAmigos-col-txt h2 {
    width: 467px;
    height: auto;
    font-size: 40px;
    line-height: 94.5%;
}

.masAmigos-col-txt p {
    width: 467px;
    height: auto;
    font-size: 20px;
    line-height: 94.5%;
    font-weight: normal;
}


#spiderRosa{
    position: absolute;
    left: 200px;
    margin-right: 5px;
    z-index: 0;
}

#spiderRojo{
position: absolute;
right: 430px;
margin-right: 5px;
}

#spiderNegro{
position: absolute;
right: 150px;
}

#tresSpiders {
    height: fit-content;
    position: relative;
    margin-top: -610px;
    height: 600px;
    display: flex;
}

.lineaRojoArr{
    display: none;
    position:absolute;
    top: -230px;
}
.lineaRojoAb{
    display: none;
    position: absolute;
    bottom: -50px;
    z-index: 2;

}
.lineaRosaArr{
    display: none;
    position: absolute;
    top: -230px;
}

.lineaRosaAb{
    display: none;
    position: absolute;
    bottom: -45px;
    z-index: 2;
}

.lineaNegroArr{
    display: none;
    position: absolute;
    top: -230px;
}

.lineaNegroAb{
    display: none;
    position: absolute;
    bottom:-45px;
    z-index: 2;
}


#spiderRosa:hover {
    transform: scale(1.3); /* Agrandar la imagen al hacer hover */
}
#spiderNegro:hover {
    transform: scale(1.3); /* Achicar la imagen al hacer hover */

}

#spiderRojo:hover {
    transform: scale(1.3); /* Achicar la imagen al hacer hover */
}

.rectSpiderNegro{
    height: 840px;
    display: none;
    width: 1280px;
    position: absolute;
    top: -200px;

}

.rectSpiderRojo{
    height: 840px;
    display: none;
    width: 1280px;
    position: absolute;
    top: -200px;
}


.rectanguloBlanco3{
z-index: -200;
width: 1280px;
height: 840px;
margin-top: -215px;

}

.rectSpiderRosa{
    height: 840px;
    display: none;
    width: 1280px;
    position: absolute;
    top: -200px;

}
.tituloComprar{
    color: white;
    margin-top: 240px;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 816px;
    margin-left: 104px;

}
.comprar{
    z-index: 10;
    position: relative;
    top: -200px;

}


#inputSuscribirse{
    position: absolute;
    top: 400px;
    left: 250px;
}

.correo{
    width: 562px;
    height: 75px;
    flex-shrink: 0;
    border-radius: 50px 0px 0px 50px;
    border-top: 9px solid #2982FF;
    border-bottom: 9px solid #2982FF;
    border-left: 9px solid #2982FF;
    background: #FFF;
    box-shadow: 4px 5px 0px 0px #02187E;
}

.suscribirse{
    width: 218px;
    height: 100px;
    border-radius:  0px 50px 50px 0px ;
    border: 9px solid #2982FF;
    background: #FFE901;
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    -webkit-text-stroke: 2px;

}

#fondoUltimo{
    position: absolute;
    width: 100%;
    height: 1296px;
   
}
#ultimo{
    position: relative;
    height: 1296px;
}

#edificios{
    position: absolute;
    right: 0;
    top: 600px;
}
.cuadroFade {
    opacity: 0; /* Por defecto, los cuadros est치n completamente transparentes */
    transition: opacity 1s ease-in-out; /* Transici칩n suave de opacidad durante 1 segundo */
}



#spiderChiquito{
z-index: 3;
position: absolute;
right: 230px;
bottom: 220px;
width: 34px;
height: 31px;
background: url(images/spriteSheets.png) repeat-x;
animation: walk .8s steps(7) infinite;
}
@keyframes walk{
    0%{background-position:0 ;}
    100%{background-position: -238px;}
}

#spiderChiquitoNegro{
    z-index: 3;
    position: absolute;
    left: 210px;
    top: 1150px;
}

#spiderChiquitoBlanco{
    z-index: 3;
    position: absolute;
    left: 540px;
    top: 1100px;
}

#ultimo h1{
    width: 816px;
    position: absolute;
    z-index: 3;
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 60px;
    font-style: normal;
    font-weight: 600;
    line-height: 94.5%; /* 56.7px */
    left: 230px;
    top: 150px;
}

#ultimo p{
    width: 578px;
    height: 95px;
    flex-shrink: 0;
    color: #000;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    position: absolute;
    top: 550px;
    left: 300px;
}

#imgTeen{
    position: absolute;
    width:231px;
    height: 145px;
    left: 302px;
    top: 670px;
}

footer{
    position: relative;
    width: 1280px;
    height: 598px;
    flex-shrink: 0;
    background: #5E5E5D;
}
#rectNegro{
    position: absolute;
    width: 1280px;
    height: 80px;
    background: #242424;
}

#xbox{
    position: absolute;
    left: 100px;
}

#rights{
    width: 820px;
    color: #FFF;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 94.5%; /* 18.9px */
    letter-spacing: 2.2px;
    position: absolute;
    top: 108px;
    left: 100px;
}

#cookies{
    color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: 94.5%;
letter-spacing: 2.2px;
text-decoration-line: underline;
position: absolute;
top: 430px;
left: 100px;
}

#redes{
    position: absolute;
    left: 100px;
    top: 500px;
}

.masAmigosMasDiversion{
    display: flex;
    flex-direction: row;

}


/* loader*/
.spinner-container {
    text-align: center;
    margin-top: 70px;
    display: flex;
    flex-direction: column;

}
.logoSpinner, .spiderCarga {
    width: 600px;
    margin: auto;
    z-index: 4;
    margin-top: -270px;
}
.spiderCarga{
    margin-top: -135px;
    z-index: 3;

}
.logoSpinner{
    z-index: 30;

}
#porcentaje-carga{
    color: #FFE901;
    z-index: 20;
    font-weight: bold;
    margin-top: -40px;
    
}


.spinner {
    border: 8px solid #3498db;
    border-top: 8px solid transparent;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
    margin: 0 auto;
    margin-top: 100px;
    z-index: 20;
}


@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}