.header{
    height:100px ;
    width: 100%;
    background: linear-gradient(180deg, #5499F8 0%, #5499F8 87.91%, rgba(84, 153, 248, 0.00) 100%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 20;
}

.sticky{
    position: fixed;
    top: 0;
    bottom: 0;
    width: 100%;

}

#logoNav{
    width: 130px;
    height: 68px;
    margin-left: 400px;
    margin-right: 300px;
    display: none;
}
#hamburguesa{
    height: 26px;
    width: 34px;
    margin-left: 100px;
}

#btnComprar{
    width: 200px;
    height: 50px;
    border-radius: 111px;
    border: 8px solid var(--2982-ff, #2982FF);
    background: #FFE901;
    box-shadow: 4px 5px 0px 0px #02187E;
    margin-right: 100px;

    /*estilo letra*/
    color: #02187E;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 900;
    line-height: 18.9px;
    letter-spacing: 2.2px;

}


.parallax1{
    position: relative;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
}

.parallax1 img{
    position: absolute;

}
/*fondo*/
#capa1{
    width: 100%;
    height: 100%;
    position: relative;
    top: -15px;
}
#capa2{
    left: -4%;
    bottom: 0%;
}

/*edificios derecha*/
#capa3{
    right: 0%;
    bottom: 0%;
}
#capa4{
    bottom: 0;
    right: 400px;
    left: 400px;

}
/*spider izquierda*/
#capa5{
    left: 100px;
    bottom: 40px;
}

/*spider medio*/
#capa6{
    bottom: -10px;
    left: 400px;
    right: 540px;
    width: 456px;
    height: 465px;
    z-index: 4;
}
/*spider derecha*/
#capa7{
    right: 200px;
    bottom: 130px;
}
/*telarana derecha*/
#capa8{
    bottom: -190px;
    left: -220px;
    z-index: 4;


}
/*telarana izquierda*/
#capa9{
    right: -140px;
    bottom: 80px;
    z-index: 4;
}

.containerTam{
    width: 1080px;
    margin-left: 100px;
    margin-right: 100px;
}

#logoPag1{
    left: 320px;
    right: 400px;
    top: 150px;
}

#violeta{
    width: 100%;
    height: 840px;
    position: relative;
    top: -60px;
    z-index: 2;
}

h1{
color: #FFF;
font-family: Lato;
font-size: 60px;
font-style: normal;
font-weight: 600;
line-height: 56.7px;
z-index: 3;
position: relative;
}

p{
color: #FFF;
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 400;
line-height: normal;
z-index: 3;
position: relative;
}

#contenedorTexto{
    height: 270px;
    width: 580px;
    top: -700px;
    position: relative;
    left: 95px;
}

#duende{
    height: 920px;
    width: 550px;
    top: -1100px;
    left: 700px;
    position: relative;
    z-index: 3;
}

#juegoVerde{
    top: -1600px;
    position: relative;
    width: 750px;
    height: 410px;
    right: -100px;
    z-index: 2;
}

#blanco{
    z-index: 1;
    position: relative;
    top: -1850px;
    width: 100%;
}